<div class="container">
  <div class="row">
    <div class="col-md-9 offset-3">
      <h3 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>" class="text-secondary my-5"><%= @user.name %> さんとのチャット</h3>
      <table class="chat_table mb-5">
        <% @chats.each do |chat| %>
          <% if chat.user_id == current_user.id %>
          <tr class="row justify-content-center message mb-4">
            <td class="col-2">
              <%= link_to attachment_image_tag(chat.user, :profile_image, fallback: "no_image.jpg", size:'80x80', class:"profile-image align-top rounded-circle"), user_path(chat.user) %>
            </td>
            <!-- メッセージを右側に表示する -->
            <td class="col-10">
              <%= chat.user.name %> <br>
              <!-- 自分用の吹き出しCSSクラスを適用する -->
              <div class="says">
                <p style='text-align: left;'><%= chat.message %></p>
                <div class="times text-right text-secondary">
                  <%= chat.created_at.to_s(:datetime_jp) %>
                </div>
              </div>
            </td>
          </tr>
        <% else %>
          <tr class="row justify-content-center message">
            <!-- メッセージを左側に表示する -->
            <td class="col-10">
              <div class="col-11 float-right">
                <div class="text-right"><%= chat.user.name %></div> <br>
              </div>
              <!-- 自分以外用の吹き出しCSSクラスを適用する -->
              <div class="other-user-says">
                <p style='text-align: left;'><%= chat.message %></p>
                <div class="times text-right text-secondary">
                  <%= chat.created_at.to_s(:datetime_jp) %>
                </div>
              </div>
            </td>
            <td class="col-2">
              <%= link_to attachment_image_tag(chat.user, :profile_image, fallback: "no_image.jpg", size:'80x80', class:"profile-image align-top rounded-circle"), user_path(chat.user) %>
            </td>
          </tr>
        <% end %>
      <% end %>
      </table>
      <span class="chat-info">
        <%= form_with model: @chat do |f| %>
          <%= f.text_field :message, placeholder: 'メッセージを入力' %>
          <%= f.hidden_field :room_id %>
        <% end %>
      </span>
    </div>
  </div>
</div>
