<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>登録情報編集</h2>
      <%= form_with model: @user, local: :true do |f| %>
        <div class="field">
          <%= f.label :ユーザー名 %></br>
          <%= f.text_field :name, autofocus: true, class: "name" %>
        </div>

        <div class="field">
          <%= f.label :自己紹介 %></br>
          <%= f.text_field :introduction, autofocus: true, class: "form-control introduction" %>
        </div>

        <div class="field">
          <%= f.label :プロフィール画像 %></br>
          <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
        </div>

        <div class="field">
          <%= f.label :生年月日 %></br>
          <!--選択バー作成-->
          <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
        </div>

        <%= f.submit "更新", class: 'btn btn-success' %>

      <% end %>
    </div>
  </div>
</div>