<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card w-100 mx-auto mt-4 mb-4 shadow-lg">
        <div class="card-body">
          <h3 class="user-edit text-secondary text-center">登録情報編集</h3>
          <%= form_with model: @user, local: :true do |f| %>
            <div class="field text-center">
              <%= attachment_image_tag(current_user, :profile_image, :id => "preview", :size =>'200x200', :style =>"border-radius: 80%", fallback: "no_image.jpg") %></br>
              <%= f.attachment_field :profile_image, class: "form-control-file user_image" %>
            </div>

            <div class="field mt-4">
              <%= f.label :ユーザー名 %></br>
              <%= f.text_field :name, autofocus: true, class: "name" %>
            </div>

            <div class="field mt-4">
              <%= f.label :自己紹介 %></br>
              <%= f.text_area :introduction, autofocus: true, class: "form-control introduction" %>
            </div>

            <div class="field mt-4">
              <%= f.label :生年月日 %></br>
              <!--選択バー作成-->
              <%= f.date_select :birth_date, use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1) %>
            </div>
            
            <% if user_signed_in? && @user.id == current_user.id %>
              <%= link_to "退会", user_users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-outline-danger" %>
            <% end %>

            <%= f.submit "更新", class: 'btn btn-success' %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>