<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <div class="box ard w-100 mx-auto mt-4 mb-4 shadow-lg">
          <div class="card-body">
          <h2 class="text-center my-5">パスワードをお忘れですか？</h2>

          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= render "users/shared/error_messages", resource: resource %>

            <div class="field text-center my-5">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="actions text-center my-5">
              <%= f.submit "パスワード変更メールを送信" %>
            </div>
          <% end %>

          <%= render "users/shared/links" %>

        </div>
      </div>
    </div>
  </div>
</div>