<header class="sticky-top">
  <nav class="navbar navbar-light header_nav">
    <% if user_signed_in? %>
      <div class="nav-link text-light mr-5 mt-3">
      </div>
    <% elsif admin_signed_in? %>
      <div class="nav-link text-light mr-5 mt-3">
      </div>
    <% else %>
      <div class="nav-link text-light mr-5 mt-3">
      </div>
    <% end %>
    <a class="nav-link", href="/"><%= image_tag "icon_image.png", class: "header_icon", size: "80x80" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav  mr-auto">
        <% if user_signed_in? %>
        <!--customerのヘッダー-->
          <li class="header-items header-user_name text-muted"><%= current_user.name %>さん</li>
          <li class="header-items"><%= link_to ' 投稿する', new_post_path, class: "nav-link text-muted fas fa-edit" %></li>
          <li class="header-items"><%= link_to ' 投稿一覧', posts_path, class: "nav-link text-muted fas fa-file-alt" %></li>
          <li class="header-items"><%= link_to ' チャット', chats_path(current_user), class: "nav-link text-muted fas fa-comment-dots" %></li>
          <li class="header-items"><%= link_to ' マイページ', user_path(current_user), class: "nav-link text-muted fas fa-user" %></li>
          <li class="header-items"><%= link_to ' 通知', notifications_path, class: "nav-link text-muted fas fa-bell" %></li>
          <li class="header-items"><%= link_to ' お問い合わせ', new_inquiry_path, class: "nav-link text-muted fas fa-paper-plane" %></li>
          <li class="header-items"><%= link_to ' ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-muted fas fa-sign-out-alt" %></li>
        <% elsif admin_signed_in? %>
        <!--adminのヘッダー-->
          <li class="header-items"><%= link_to ' 投稿一覧', admin_posts_path,class: "nav-link text-light fas fa-users" %></li>
          <li class="header-items"><%= link_to ' ユーザー一覧', admin_users_path, class: "nav-link text-light fas fa-list-alt" %></li>
          <li class="header-items"><%= link_to ' ジャンル一覧', admin_genres_path, class: "nav-link text-light fas fa-tags" %></li>
          <li class="header-items"><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class:"nav-link text-light fas fa-sign-out-alt" %></li>
        <% else %>
        <!--ログイン前のヘッダー-->
          <li class="header-items"><%= link_to ' ランキング', class: "nav-link text-light fas fa-grin-stars" %></li>
          <li class="header-items"><%= link_to ' 新規登録', new_user_registration_path, class: "nav-link text-light fas fa-user-plus" %></li>
          <li class="header-items"><%= link_to ' ログイン', new_user_session_path, class: "nav-link text-light fas fa-sign-in-alt" %></li>
        <% end %>
        <dl class="searchbox mt-3">
          <!--会員側の商品検索-->
          <% if user_signed_in? %>
            <%= search_form_for @search, url: users_user_search_path do |f| %>
              <dt><%= f.text_field :name_cont , placeholder: 'ユーザー名' %></dt>
              <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
            <% end %>
          <% else admin_signed_in? %>
            <%= search_form_for @search, url: users_user_search_path do |f| %>
              <dt><%= f.text_field :name_cont , placeholder: 'ユーザー名' %></dt>
              <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
            <% end %>
          <% end %>
        </dl>
      </ul>
    </div>
  </nav>
</header>