<!DOCTYPE html>
<html>
  <head>
    <title>RoughWriter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー-->
    <%= render 'layouts/header' %>
    <!--フラッシュメッセージ-->
    <%= render '/layouts/flash' %>
    <%= yield %>
    <!--フッター-->
    <%= render 'layouts/footer' %>
  </body>
</html>
